<div id="container">
  <!-- <app-store-nav></app-store-nav> -->
  <div id="main" class="theme3" [style.background-color]="storeDetails?.theme_3">
    <h2>Your Basket</h2>
    <div id="basket">
      <div id="cart-items-container" class="theme2" [style.background-color]="storeDetails?.theme_2">

        <div *ngFor="let i of cartItems" class="cart-item">
          <div class="item-img-container">
            <img [src]="i.item.blob" class="item-img">
          </div>
          <div class="item-info-container center-spaced">
            <div class="item-info">
              <span class="item-lbl">{{i.item.name}}</span>
              <ng-container *ngIf="i.item.salePrice < i.item.price; else notOnSale">
                <span class="sale-price">${{ i.item.salePrice }}</span>
                <span class="original-price strikethrough">${{ i.item.price }}</span>
              </ng-container>
              <ng-template #notOnSale>
                ${{ i.item.price }}
              </ng-template>
              <br>
              <span class="item-details"></span>
            </div>
          </div>
          <div class="quantity-container">
            <div class="quantity center">
              <div class="less center" (click)="decreaseQuantity(i.item)">-</div>
              <div class="amount center">{{i.quantity}}</div>
              <div class="more center" (click)="increaseQuantity(i.item)">+</div>
            </div>
          </div>
          <div id="remove-item" class="center" (click)="removeFromCart(i.item)"><i class="fa-solid fa-x"></i></div>
        </div>
      </div>

      <div id="order-summary-container">
        <app-order-summary [storeDetails]="storeDetails"></app-order-summary>
        <div id="promo-code" class="center">
          <label for="promo">Apply Promo Code:</label>
          <input type="text" name="promo" id="promo">
        </div>
      </div>

    </div>

  </div>
</div>
