#main{
  position: relative;
  flex-grow: 1;
  width: 100%;
  height: 85vh;
  padding: 2rem;
}

#main h2{
  font-size: 2rem;
}

#basket{
  height: 80%;
  width: calc(100% - 8rem);
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 2rem;
 /*  border: 1px solid red; */
}

#cart-items-container{
  width: calc(70% - 4rem);
  padding: 10px;
  max-height: 50vh;
  overflow-y: scroll;
}

.cart-item{
  position: relative;
  display: flex;
  align-items: center;
  padding: 20px;
  border-top: 2px solid black;
  height: 275px;
}

.strikethrough{
  text-decoration: line-through;
}

.sale-price{
  color: red;
}

.cart-item:last-child{
  border-bottom: 2px solid black;
}

.item-img-container{
  width: 16%;
  max-width: 500px;
}

.item-img{
  width: 100%;
  height: auto;
  display: block;
}

.item-info-container{
  width: 54%;
  height: 100%;
  margin-left: 20px;
}

.item-info{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 100%;
  font-size: 1.5rem;
  /* border: 1px solid red; */
}

.item-info span{
  width: 100%;
  max-height: 40px;
}

.quantity-container{
  width: 30%;
  height: 70%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}

.quantity{
  width: 120px;
  height: 35px;
  border: 3px solid black;

}

.quantity div{
  width: 30%;
  height: 100%;

  text-align: center;
  font-size: 18pt;
  font-weight: bold;
}

.quantity div:first-child{
  border-right: 3px solid black;
}

.quantity div:first-child:hover{
  cursor: pointer;
  color: white;
}

.quantity div:nth-child(2){
  width: 40%;
}

.quantity div:last-child{
  border-left: 3px solid black;
}

.quantity div:last-child:hover{
  cursor: pointer;
  color: white;
}


#remove-item{
  position: absolute;
  top: 0;
  right: 0;
  height: 40px;
  width: 40px;
  font-size: 1.5rem;
}

#remove-item:hover{
  cursor: pointer;
  color: white;
}


#order-summary-container{
  width: calc(25% - 4rem);
  height: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

#promo-code{
  margin-top: 20px;
  width: 100%;
}

#promo-code label{
  width: 40%;
  text-align: right;
  margin-right: 10px;
  font-size: 1.2rem;
  font-weight: bold;
}

#promo{
  width: clamp(150px, 60%, 250px);
  height: 30px;
}


@media only screen and (max-width: 1785px){

  .item-info{
    font-size: 1.2rem;
  }

  #promo-code label{
    width: 50%;
    font-size: 1rem;
  }
}

@media only screen and (max-width: 715px){
  #basket{
    flex-direction: column;
  }

  #cart-items-container{
    width: 100%;
  }

  .item-img-container{
    width: 40%;
    max-width: 600px;
  }

  .quantity-container{
    width: 20%;
    height: 70%;
  }

  .quantity{
    width: 80px;
    height: 20px;
  }

  .quantity div{
    width: 30%;
    height: 100%;
    font-size: 12pt;
  }

  #remove-item{
    height: 30px;
    width: 30px;
    font-size: 1.2rem;
  }

  #order-summary{
    margin-top: -100px;
  }


  #promo-code{
    width: 63vw;
  }

  #promo-code label{
    width: 40%;
    font-size: 1rem;
  }

}
