#main{
    width: 100%;
    height: 20vw;
    background-color: #D3CEBB;
    padding-left: 3vw;
   }
   #item-card{
    width: 30%;
    background-color: #ffffff;
    display: inline-block;
    margin-top: 2vw;
    text-align: left;
    margin-right: 2vw;
   }
   #item-pic{
    width: 12vw;
    height: 15vw;
    display: inline-block;
    margin-right: 1vw;
   }
   #textSide{
    display: inline-block;
    vertical-align: top;
   }
   #itemName{
    font-size: 1.5vw;
   }
   #itemDesc{
    font-size: 1vw;
    width: 15vw;
    height: 5vw;
    overflow: hidden;
   }
   #price{
    font-size: 1vw;
    width: 15vw;
   }
   #arrowDivLeft{
    width: 3%;
    height: 15vw;
    display: inline-block;
    vertical-align:middle;
    padding-left: 1%;
    padding-right: 1%;
   }
   #arrowDivRight{
    width: 3%;
    height: 15vw;
    display: inline-block;
    vertical-align:middle;
    padding-left: 2%;
   }
   #arrow{
    width: 2vw;
    height: 2vw;
   }
   #star{
        margin-left: 0vw; 
        margin-right: 0.1vw; 
        width: 2vw; 
        height:2vw;
    }
    #bannerImg{
        width: 90%;
        height: 17vw;
    }

    @media only screen and (max-width: 600px) {
        #main{
            width: 100%;
            height: 100%;
            background-color: #D3CEBB;
           }
        #itemDesc{
            font-size: 3vw;
            width: 50vw;
            height: 10vw;
            overflow: hidden;
        }
        #itemName{
            font-size: 7vw;
            margin-bottom: calc(10px + 0.1vw);
        }
        #item-card{
            width: 95%;
            background-color: #ffffff;
            margin-bottom: 2vw;
            margin-top: 2vw;
            margin-right: 2vw;
            text-align: left;
           }
        #item-pic{
            width: 40vw;
            height: 50vw;
            margin-right: 0.2vw;
        }
        #textSide{
            vertical-align: top;
            width: 40%;
        }
        #price{
            font-size: 5vw;
            width: 15vw;
            margin-top: 0.1vw;
            margin-bottom: 0.1vw;
        }
        #arrowDivLeft{
            width: 3%;
            height: 15vw;
            vertical-align:middle;
            padding-left: 1%;
            padding-right: 1%;
           }
           #arrowDivRight{
            width: 3%;
            height: 15vw;
            
            vertical-align:middle;
            padding-left: 2%;
           }
           #star{
            margin-left: 0vw; 
            margin-right: 0.1vw; 
            width: 5vw; 
            height: 5vw;
        }
    }
