<div class="recommended-items" aria-labelledby="recommended-items-heading">
  <h2 id="recommended-items-heading" class="visually-hidden">Recommended Items</h2>
  <button class="nav-arrow left" aria-label="Scroll left" (click)="scrollLeft()">
    <img src="assets/icons/arrow-left.svg" alt="Left arrow">
  </button>
  <div #itemContainer class="recommended-items__container">
    <div *ngFor="let item of recommendedItems" class="recommended-items__card">
      <img [src]="item.imageUrl" alt="{{item.name}}" class="recommended-items__image">
      <div class="recommended-items__details">
        <p class="recommended-items__name">{{ item.name }}</p>
        <p class="recommended-items__desc">{{ item.description }}</p>
        <p class="recommended-items__price">{{ item.price | currency }}</p>
        <div class="recommended-items__rating">
          <img *ngFor="let _ of [].constructor(item.rating)" src="assets/icons/star-filled.svg" alt="Star" class="star-icon">
          <img *ngFor="let _ of [].constructor(5 - item.rating)" src="assets/icons/star-outline.svg" alt="Star outline" class="star-icon">
        </div>
      </div>
    </div>
  </div>
  <button class="nav-arrow right" aria-label="Scroll right" (click)="scrollRight()">
    <img src="assets/icons/arrow-right.svg" alt="Right arrow">
  </button>
</div>
