<div id="main" >
    <center>
    <div id="arrowDiv">
        <img id="arrow" src="arrow.svg" width="1vw" height="1vw">
    </div>
    <div id="item-card">
        <img id="item-pic" src="" width="150px" height="152px">
        <div id="textSide">
            <p id="itemName">Joni Sweater</p>
            <P id="itemDesc">Lorem ipsum dolor sit amet, </P>
            <p id="price">$19.99</p>
            <img id="star" src="Star 10.png" width="20px" height="20px">
            <img id="star" src="Star 10.png" width="20px" height="20px">
            <img id="star" src="Star 10.png" width="20px" height="20px">
            <img id="star" src="Star 10.png" width="20px" height="20px">
            <img id="star" src="Star 10.png" width="20px" height="20px">

        </div>
    </div>
    <div id="item-card">
        <img id="item-pic" src="" width="150px" height="152px">
        <div id="textSide">
            <p id="itemName">Joni Sweater</p>
            <P id="itemDesc">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas interdum diam vel vestibulum maximus.</P>
            <p id="price">$19.99</p>
            <img id="star" src="Star 10.png" width="20px" height="20px">
            <img id="star" src="Star 10.png" width="20px" height="20px">
        </div>
    </div>
    <div id="item-card">
        <img id="item-pic" src="" width="150px" height="152px">
        <div id="textSide">
            <p id="itemName">Joni Sweater</p>
            <P id="itemDesc">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas interdum diam vel vestibulum maximus.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas interdum diam vel vestibulum maximus.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas interdum diam vel vestibulum maximus.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas interdum diam vel vestibulum maximus.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas interdum diam vel vestibulum maximus.</P>
            <p id="price">$19.99</p>
            <img id="star" src="Star 10.png" width="20px" height="20px">
        </div>
    </div>
    <div id="arrowDiv">
        <img id="arrow" src="arrow.svg" width="1vw" height="1vw">
    </div>
</center>
</div>
