<div id="main" >
    <div id="item-card">
        <img id="item-pic" src="" width="150px" height="152px">
        <div id="textSide">
            <p id="itemName">Joni Sweater</p>
            <P id="itemDesc">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas interdum diam vel vestibulum maximus.</P>
            <p id="price">$19.99</p>
        </div>
    </div>
    <div id="item-card">
        <img id="item-pic" src="" width="150px" height="152px">
        <div id="textSide">
            <p id="itemName">Joni Sweater</p>
            <P id="itemDesc">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas interdum diam vel vestibulum maximus.</P>
            <p id="price">$19.99</p>
        </div>
    </div>
    <div id="item-card">
        <img id="item-pic" src="" width="150px" height="152px">
        <div id="textSide">
            <p id="itemName">Joni Sweater</p>
            <P id="itemDesc">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas interdum diam vel vestibulum maximus.</P>
            <p id="price">$19.99</p>
        </div>
    </div>
</div>
