Server/obj/project.assets.json
Server/obj/project.nuget.cache
Server/obj/Server.csproj.nuget.dgspec.json
Server/obj/Server.csproj.nuget.g.props
Server/obj/Debug/net9.0/Server.AssemblyInfo.cs
Server/obj/Debug/net9.0/Server.AssemblyInfoInputs.cache
Server/obj/Debug/net9.0/Server.assets.cache
Server/obj/Debug/net9.0/Server.csproj.AssemblyReference.cache
Server/obj/Debug/net9.0/Server.GeneratedMSBuildEditorConfig.editorconfig
