<!-- File: item-card.component.html -->
<div class="item-card">
  <!-- Image Section -->
  
  <div class="item-image" *ngIf="item?.ImageUrl; else defaultImage">
    <img [src]="item.ImageUrl" [alt]="item.Name" />
  </div>
  <ng-template #defaultImage>
    <div class="item-image-placeholder">
      <img src="../../../../public/default.png" alt="Placeholder Image" />
    </div>
  </ng-template>
  
  <!-- Details Section -->
  <div class="item-details">
    <h3 class="item-name">{{ item?.Name }}</h3>
    <div class="item-price">
      <ng-container *ngIf="item?.OnSale; else notOnSale">
        <span class="sale-price">${{ item?.SalePrice }}</span>
        <span class="original-price strikethrough">${{ item?.OriginalPrice }}</span>
      </ng-container>
      <ng-template #notOnSale>
        \${{ item?.OriginalPrice }}
      </ng-template>
    </div>

    <p class="item-description">
      {{ item?.Description }}
    </p>

    <!-- Optional Info -->
    <p class="item-info">
      <strong>In Stock:</strong> {{ item?.QuantityInStock }}
      <br>
      <strong>Available:</strong>
      {{ item?.AvailFrom | date:'shortDate' }} - {{ item?.AvailTo | date:'shortDate' }}
      <br>
      <strong>Rating:</strong> {{ item?.CurrentRating }} / 5
    </p>

    <!-- Action Button(s) -->
    <div class="item-actions">
      <button class="btn add-to-basket" (click)="addToBasket(item)">Add to Bag</button>
      <!-- Optional second button, e.g., for Bookmark -->
      <!-- <button class="btn bookmark-button" (click)="bookmarkItem(item)">Bookmark</button> -->
    </div>
  </div>
</div>
