<div class="item-card" *ngIf="item">
  <!-- Image Section -->
  <div class="item-image" *ngIf="item.blob; else defaultImage">
    <img [src]="item.blob" [alt]="item.name" />
  </div>
  <ng-template #defaultImage>
    <div class="item-image-placeholder">
      <img src="assets/images/default.png" alt="Placeholder Image" />
    </div>
  </ng-template>

  <!-- Details Section -->
  <div class="item-details">
    <h3 class="item-name">{{ item.name ? item.name : "MISSING"}}</h3>
    <div class="item-price">
      <ng-container *ngIf="item.salePrice < item.price; else notOnSale">
        <span class="sale-price">${{ item.salePrice }}</span>
        <span class="original-price strikethrough">${{ item.price }}</span>
      </ng-container>
      <ng-template #notOnSale>
        ${{ item.price }}
      </ng-template>
    </div>
    <!-- <p class="item-description">{{ item.Description }}</p> -->
    <p class="item-info">
      <strong>In Stock:</strong> {{ item.quantity }}<br>
      <strong>Available:</strong> {{ item.availFrom | date:'shortDate' }} - {{ item.availTo | date:'shortDate' }}<br>
     <!--  <strong>Rating:</strong> {{ item.CurrentRating }} / 5 -->
    </p>
    <div class="item-actions center">
      <button class="btn add-to-basket" (click)="addToBasket(item)">Add to Bag</button>
    </div>
  </div>
  <!-- <a [routerLink]="['/items', item.listId]" class="details-link">View Details</a> -->
</div>
