        #main{
          height: 300vh;

          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: flex-start;
        }

        #banner{
          position: relative;
          width: 100%;
          height: 25vh;
          background-color: white;
          z-index: 0;
        }

        #banner-text{
          position: absolute;
          top: 25%;
          left: 5%;
          max-width: 25%;
          height: 50%;

          border: 1px solid black;
          padding: 10px 20px;
          border-radius: 25px;
          font-size: 2.5rem;
          font-weight: 600;
          text-align: center;
        }

        #banner-text span{
          width: 80%;
        }

        #logo-section{
          width: 100vw;
          height: 15vh;
        }

        #logo-container{
          width: 58.5%;
          height: calc(85% - 10px);
          border: 1px solid black !important;
          border-radius: 25px;
          padding: 5px;

          display: flex;
          align-items: center;
          justify-content: center;
        }

        #logo-wrapper{
          width: 30%;
          height: 90%;
          margin-left: 15px;
        }

        #logo-text-wrapper{
          width: 70%;
        }

        #product-container{
          padding-bottom: 20px;
          padding-right: 5%;
          padding-left: 5%;
          width: 60%;
          display: grid;
          grid-template-columns: repeat(3, 1fr); /* 3 equal columns */
          row-gap: 50px; /* Optional: adds space between items */
          column-gap: 100px;
          padding: 10px;
        }

        .product{
          vertical-align: top;
          margin: 1.5%;
          width: 100%;
          height: 100%;
          padding: 15px;
          border: 1px solid black;
        }

        .prodText{
          width:100%;
          text-wrap: wrap;
          font-size: 1.5rem;
          margin-top:2%;
          margin-bottom:2%;
          text-align: center;
        }

        .priceText{
          font-size: 1.4rem;
          margin-top: 0px;
          margin-bottom: 3%;
          text-align: center;
        }

        .add-btn{
          background-color: var(--main-color);
          border: none;
          color: white;
          padding: 5% 18%;
          border-radius: 40px;
          font-size: 1rem;
          font-weight: bold;
        }

        .add-btn:hover{
          cursor: pointer;
        }

        .prodImg{
          object-fit: cover;
          width: 100%;
          height: auto;
        }

        img{
          object-fit: fill;
          width: 100%;
          height: auto;
        }


@media only screen and (max-width: 1200px) {
  #banner-text{
    font-size: 1.5rem;
  }

  #logo-container{
    width: 80%;
  }

  #logo-text{
    font-size: 1.2rem;
  }



  #product-container{
    width: 90%;
    column-gap: 50px;
  }
}
