<html>
 <head>
    <link rel="stylesheet" href="style.css">
 </head>

    <body style="background-color: var(--secondaryColor);">
        <div id="hero">
            <div id="heroBubble">
                <center>
                    <p id="heroText">Explore our knitting products!</p>
                </center>
                
            </div>
        </div>
            <center>
            <div id="bubble">
                <div style="width: 33%; height: 100%;display:inline-block;">
                    <center>
                        <img src="sweater.jpg" style="width: 12vw; height: 100%;"></img>
                    </center>
                </div>
                <div id="iconText">
                    <center>
                        <p>This would probably be a blurb about the business or something like that</p>
                    </center>
                   
                </div>
            </div>
        </center>
        <div id="container">
            <div id="product"><!--item div for holding img+text+button-->
                <center>
                <img id="prdImg"src="sweater.jpg" width="209" height="300">
                <h3 id="prodText">Joni sweater (digital pattern)</h3>
                <p id="priceText">$19.99</p>
                <button id="btn">Add to bag</button>
                </center>
            </div>
            <div id="product">
                <center>
                <img id="prdImg"src="sweater.jpg" width="209" height="300">
                <h3 id="prodText">Joni sweater (digital pattern)</h3>
                <p id="priceText">$19.99</p>
                <button id="btn">Add to bag</button>
                </center>
            </div>
            <div id="product">
                <center>
                <img id="prdImg"src="sweater.jpg" width="209" height="300">
                <h3 id="prodText">Joni sweater (digital pattern)</h3>
                <p id="priceText">$19.99</p>
                <button id="btn">Add to bag</button>
                </center>
            </div>
        </div>
        <div id="container">
            <div id="product"><!--item div for holding img+text+button-->
                <center>
                <img id="prdImg"src="sweater.jpg" width="209" height="300">
                <h3 id="prodText">Joni sweater (digital pattern)</h3>
                <p id="priceText">$19.99</p>
                <button id="btn">Add to bag</button>
                </center>
            </div>
            <div id="product">
                <center>
                <img id="prdImg"src="sweater.jpg" width="209" height="300">
                <h3 id="prodText">Joni sweater (digital pattern)</h3>
                <p id="priceText">$19.99</p>
                <button id="btn">Add to bag</button>
                </center>
            </div>
            <div id="product">
                <center>
                <img id="prdImg"src="sweater.jpg" width="209" height="300">
                <h3 id="prodText">Joni sweater (digital pattern)</h3>
                <p id="priceText">$19.99</p>
                <button id="btn">Add to bag</button>
                </center>
            </div>
        </div>
        <div id="container">
            <div id="product"><!--item div for holding img+text+button-->
                <center>
                <img id="prdImg"src="sweater.jpg" width="209" height="300">
                <h3 id="prodText">Joni sweater (digital pattern)</h3>
                <p id="priceText">$19.99</p>
                <button id="btn">Add to bag</button>
                </center>
            </div>
            <div id="product">
                <center>
                <img id="prdImg"src="sweater.jpg" width="209" height="300">
                <h3 id="prodText">Joni sweater (digital pattern)</h3>
                <p id="priceText">$19.99</p>
                <button id="btn">Add to bag</button>
                </center>
            </div>
            <div id="product">
                <center>
                <img id="prdImg"src="sweater.jpg" width="209" height="300">
                <h3 id="prodText">Joni sweater (digital pattern)</h3>
                <p id="priceText">$19.99</p>
                <button id="btn">Add to bag</button>
                </center>
            </div>
        </div>
    </body>
    
</html>
