<div id="container">
  <app-store-nav  (ViewChanged)="changeView($event)"></app-store-nav>
  <div id="store-page" [style.background-color]="storeData?.theme_3" *ngIf="currentView === 'store-page'">
      <div id="banner" class="theme2" [style.background-image]="'url(' + storeData?.bannerURL + ')'">
        <div id="banner-text" class="center theme1 fc" [style.background-color]="storeData?.theme_1">
          <span [style.color]="storeData?.fontColor">{{storeData?.bannerText}}</span>
        </div>
      </div>
      <div id="logo-section" class="center">
        <div id="logo-container" class="theme1 fc" [style.background-color]="storeData?.theme_1">
          <div id="logo-wrapper">
            <img id="logo" [src]="storeData?.logoURL" alt="store-logo">
          </div>
          <div id="logo-text-wrapper" class="center">
            <h2 id="logo-text" [style.color]="storeData?.fontColor">{{storeData?.logoText}}</h2>
          </div>
        </div>
      </div>
      <div id="product-container">
        <div *ngFor="let num of arrayRange(9); let i = index" class="product">
          <img class="prdImg" src="https://shopimyimages.blob.core.windows.net/images/sweater-sample.jpg" width="209" height="300">
          <h3 class="prodText">Joni sweater (digital pattern)</h3>
          <p class="priceText">$19.99</p>
          <div class="btn-wrapper center">
            <button class="add-btn hover theme1">Add to Cart</button>
          </div>
        </div>
      </div>
  </div>
  <app-shopping-cart *ngIf="currentView === 'cart'" [storeDetails]="storeData"></app-shopping-cart>
  <app-checkout *ngIf="currentView === 'checkout'" [storeDetails]="storeData"></app-checkout>
  <ng-container *ngFor="let c of storeData?.categories">
    <app-category-page *ngIf="currentView === c.name" [category]="c"></app-category-page>
  </ng-container>
</div>
