<div id="container">
    <app-top-nav></app-top-nav>
    <div id="main" class="center">
      <mat-drawer-container class="example-container" autosize >
        <mat-drawer #drawer class="example-sidenav" mode="over" >
          <button mat-fab (click)="drawer.toggle()">
            <mat-icon>close</mat-icon>
          </button>
          <p>Sidenav</p>
          
          <!--
          <button (click)="showFiller = !showFiller" mat-raised-button>
            Expand menu
          </button>
          @if (showFiller) {
            
            <p>Lorem, ipsum dolor sit amet consectetur.</p>
          }
        -->
          </mat-drawer>
      
        <div class="example-sidenav-content">
          <button mat-fab (click)="drawer.toggle()">
            <mat-icon>menu</mat-icon>
          </button>

          <div id="account-form-wrapper">
            <h2>My Account</h2>
    
            <form id="account-form">
              <div id="name" class="center-spaced form-entry-container">
                <div class="form-entry">
                  <label id="firstname-lbl" for="firstname" class="form-lbl">First Name *</label><br>
                  <input type="text" id="firstname" required>
                </div>
      
                <div class="form-entry">
                  <label id="lastname-lbl" for="lastname" class="form-lbl">Last Name *</label><br>
                  <input type="text" id="lastname" required>
                </div>
              </div>
              <div id="contact" class="center-spaced form-entry-container">
                <div class="form-entry">
                  <label id="email-lbl" for="email" class="form-lbl">Email *</label><br>
                  <input type="text" id="email" required>
                </div>
                <div class="form-entry">
                  <label id="phone-lbl" for="phone" class="form-lbl">Phone *</label><br>
                  <input type="phone" id="phone" placeholder="(###) - ### - ####" required>
                </div>
              </div>
      
              <div class="form-entry-container">
                <div class="form-entry">
                  <label id="dob-lbl" for="dob" class="form-lbl">Date of Birth *</label><br>
                  <input type="date" id="dob" required>
                </div>
              </div>
      
              <div class="form-entry-container">
                <div class="form-entry">
                  <label id="country-lbl" for="country" class="form-lbl">Country *</label><br>
                  <select id="country" [(ngModel)]="selectedCountry" required>
                    <option *ngFor="let country of countries" [value]="country.value">
                      {{ country.label }} ({{country.value}})
                    </option>
                  </select>
                </div>
              </div>
      
              <div class="divider"></div>
      
              <!--
              <div class="divider" style="margin-top: 30px;"></div>
              <div id="checkboxes">
                <input type="checkbox" id="subscribe">
                <label id="subscribe-lbl" for="subscribe" class="form-lbl">I want to receive emails about news and products</label><br><br>
                <input type="checkbox" id="accept-tc" required>
                <label id="accept-tc-lbl" for="accept-tc" class="form-lbl">I Accept the Terms and Conditions</label>
              </div>
              <button type="submit" id="submit-btn">Register</button>              
              
              -->

            </form>
          </div>

        </div>
        
      </mat-drawer-container>
    
      
      <!-- <img [src]="imgURL"> -->
       <!-- <img src="resources/images/workfromhome.jpg"> -->
    </div>
  
  </div>