#main {
  position: relative;
  width: 100vw;
  height: 100vh;
  padding: 1% 3%;
}

#item-container{
  padding-bottom: 20px;
  padding-right: 5%;
  padding-left: 5%;
  width: 60%;
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* 3 equal columns */
  row-gap: 50px; /* Optional: adds space between items */
  column-gap: 100px;
  padding: 10px;
}


#no-items{
  height: 50%;
  width: 100%;
}
