<html><!--Very much still a WIP-->
    <head>
    </head>
    <div id="TopHalf"><!--Pics and desc-->
        <div id="picsHolder"><!--Pics holder-->
            <img id="smlPic" src="sweater.jpg" width="150px" height="152px">
            <img id="smlPic" src="sweater.jpg" width="150px" height="152px">
            <img id="smlPic" src="sweater.jpg" width="150px" height="152px">
            <img id="smlPic" src="sweater.jpg" width="150px" height="152px">
        </div>
        <div id="bigPicHolder"><!--BigPic-->
            <img id="bigPic" src="sweater.jpg" width="544px" height="622px">
        </div>
        <div id="textSection">
            <p id="headerText">Joni Sweater</p>
            <p id ="priceText">$9.99</p>
            <p id="descText">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas interdum diam vel vestibulum maximus. Praesent placerat in turpis quis ultricies. Nulla lacinia euismod urna, vitae lobortis felis interdum non. Cras gravida pretium luctus.</p>
        </div>
    </div>
</html>
