<html><!--Very much still a WIP-->
    <head>
    </head>
   <body style=" background-color: #D3CEBB;">
        <div id="TopHalf"><!--Pics and desc-->
            <div id="picsHolder"><!--Pics holder-->
                <img id="smlPic" src="sweater.jpg" width="150px" height="152px">
                <img id="smlPic" src="sweater.jpg" width="150px" height="152px">
                <img id="smlPic" src="sweater.jpg" width="150px" height="152px">
                <img id="smlPic" src="sweater.jpg" width="150px" height="152px">
            </div>
            <div id="bigPicHolder"><!--BigPic-->
                <img id="bigPic" src="sweater.jpg" width="544px" height="622px">
            </div>
            <div id="textSection">
                <p id="headerText">Joni Sweater</p>
                <p id="priceText">$9.99</p>
                <p id="descText">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas interdum diam vel vestibulum maximus. Praesent placerat in turpis quis ultricies. Nulla lacinia euismod urna, vitae lobortis felis interdum non. Cras gravida pretium luctus.
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas interdum diam vel vestibulum maximus. Praesent placerat in turpis quis ultricies. Nulla lacinia euismod urna, vitae lobortis felis interdum non. Cras gravida pretium luctus.
                </p>
                <p id="options">Sizes XS (S) M (L) XL (2XL)</p>
                <p id="options2"> Yarn - Aran Weight -539 (609) 742 (886) 984 (1123) 1239 (1351) 1484 yds 493 (557) 678 (810) 900 (1027) 1133 (1235) 1357 m300 (300) 300 (400) 400 (500) 500 (600) 600 g
                    Yarn - Aran Weight -539 (609) 742 (886) 984 (1123) 1239 (1351) 1484 yds 493 (557) 678 (810) 900 (1027) 1133 (1235) 1357 m300 (300) 300 (400) 400 (500) 500 (600) 600 g
                </p>
    
                <div id="btnHolder">
                    <button id="btn">Add to basket</button>
                    <button id="btn">H</button>
                </div>
            </div>
        </div>
        <div id="pageDivider"></div>
        <div id="bottomHalf">
            <div id="reviewLeft">
                <p id="reviewLeftHeader">Ratings and Reviews</p>
    
            </div>
            <div id="reviewRight">
                
            </div>
            <div id="reviewLeft">
                <div id = "reviewItem">
                    <p id="reviewItemHeader">Super easy to read and well structured</p>
                </div>
            </div>
        </div>

        
    </body>
</html>
