<div class="main">
    <div class="section">
        <h3>Create Promo Code</h3>
        <form>
            <h3>Store Wide Discount</h3>
            <label for="discount">Enter Discount:  </label>
            <input type="number" id="discount" name="discount" placeholder="Enter Discount %">

            <h3>Catagory Specific Discount</h3>
            <label for="catagory">Enter catagory:  </label>
            <input type="text" id="catagory" name="catagory" placeholder="Enter Catagory">
            <label for="Cdiscount">   Enter Discount:  </label>
            <input type="number" id="Cdiscount" name="Cdiscount" placeholder="Enter Discount %">
        </form>
    </div>

    <div class="section">
        <h3>Send Discount Code To Previous Customers</h3>
        <form>
            <label for="mail">Enter Code:  </label>
            <input type="text" id="mail" name="mail" placeholder="Enter Code">
            <h3>Message To Customers: </h3>
            <textarea>Enter A Message</textarea>
        </form>

    </div>

    <div class="section">
        <h3>Send Discount Code To Customers With Shop Favorited</h3>
        <form>
            <h3> Send Discount Code To Previous Customers</h3>
            <label for="mail">Enter Code:  </label>
            <input type="text" id="mail" name="mail" placeholder="Enter Code">
            <h3>Message To Customers</h3>
            <textarea>Enter A Message</textarea>
        </form>

    </div>
</div>

