#container{

  display: flex;
  top: 0;
  flex-direction: column;
  width: 100vw;
  height: 530vh;
  overflow-y: auto;
  color: white;
  font-size: 48pt;
  overflow-x: hidden;
}


#main{
  position:relative;
  flex-grow: 1;
  width: 100%;
  background-color: var(--main-color);

  /* margin-top: 70px;
  width: 100%;
  height: calc(100vh - 70px); */
}

#top-img-wrapper{
  position: relative;
  width: 100%;
  overflow-x: hidden;
}

#top-img{
  width: 100%;
  height: auto;
}

/* #top-overlay *{
  border: 1px solid red;
} */

#top-overlay{
  position: absolute;
  top: 8vh;

  width: 100%;
  z-index: 10;
  padding: 2.5%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#left-block {
  background-color: rgba(0, 0, 0, 0.25); /* Semi-transparent background */
  height: 215vh; /* Adjust height as needed */
  width: 25vw; /* Adjust width as needed */
  border-radius: 25px;
  padding: 20px;
  padding-top: 100px;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  border: 2px solid #39372796; /* Light blue border */
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3); /* Optional shadow */
  color: white; /* Ensures text contrast */
  font-size: 18px;
  text-align: center;
}

#left-block h1{
  font-family: var(--main-font-fam);
  font-size: 40pt;
  margin-bottom: 80vh;
}


.icon-wrapper{
  top: 100px;
  margin-bottom: 12vh;
  width: 275px;
  height: 275px;
  border-radius: 50%;
  background-color: var(--second-color);
  font-size: 120pt;
}

.icon-wrapper:nth-child(1){
  margin-bottom: 20px;
}

/* .icon-wrapper i{
  font-size: 120pt;
} */


#feature-card-container{
  position: absolute;
  right: 50px;
  bottom: 2.5%;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 45%;
  width: 68%;
  padding: 25px;
}

#feature-card:hover{
  animation: scale(1.1);
}

.feature-card {
  flex-direction: column;
  margin-top: 75px;
  width: 80%;
  height: 300px;
  padding: 25px;
  background-color: #2C2A1F;
  border-radius: 40px;
  box-shadow: 5px 5px rgba(0, 0, 0, 0.305);
  /* transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out; */ /* Smooth transition */
}

/* .feature-card:hover {
  transform: scale(1.1); /
  box-shadow: 7px 7px rgba(0, 0, 0, 0.238);
  cursor: pointer;
}


@keyframes fc-hover {
  from {
    transform: scale(1);
    box-shadow: 5px 5px rgba(0, 0, 0, 0.305);
  }
  to {
    transform: scale(1.0001);
    box-shadow: 7px 7px rgba(0, 0, 0, 0.238);
  }
} */

.feature-card:nth-child(1){
  margin-top: 75px;
}

.fc-title{
  text-align: center;
  font-family: var(--main-font-fam);
  font-size: 42pt;
  color: var(--third-color);
}

.fc-body{
  text-align: center;
  margin-top: 25px;
  font-family: var(--main-font-fam);
  font-size: 32pt;
  color: var(--third-color);
}

.fc-divider{
  width: 95%;
  height: 5px;
  background-color: var(--second-color);
}


/* #mid-section *{
  border: 1px solid red;
} */

#mid-section{
  position: relative;
  top:1500px;
  width: 100%;
}

#tabs{
  margin-right:50px
}

.tab{
  width: 800px;
  height: 200px;
  font-family: var(--main-font-fam);
  color: var(--third-color);
  font-weight: bold;
  font-size: 48pt;
  background-color: #2C2A1F;
  border-radius: 20px;
  margin: 30px;

  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

.tab:hover{
  cursor: pointer;
  background-color: var(--second-color);

}

#img-overlay{
  position: absolute;
  margin-right: -50px;
  width: 1425px;
  height: 950px;
  z-index: 100;
  background-image: linear-gradient(180deg, #39372781 20%, #00000016 80%), linear-gradient(180deg, #39372700 80%, #39372781 20%);
}

#mid-img{
  position: relative;
  width: 1425px;
  height: 950px;
  /* mask-image: radial-gradient(circle, rgba(0, 0, 0, 1) 60%, rgba(0, 0, 0, 0) 100%); */
  mask-image:
    linear-gradient(to right, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 50%, rgba(0, 0, 0, 1) 80%, rgba(0, 0, 0, 0) 100%),
    linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 50%, rgba(0, 0, 0, 1) 80%, rgba(0, 0, 0, 0) 100%);
  box-shadow: 0 0 15px 15px rgba(255, 255, 255, 0.5);
}


#demos{
  position: relative;
  top: 1500px;
  font-family: var(--main-font-fam);
  color: var(--third-color);
  width: 100%;
}

#demos h1{
  margin-left: 190px;
  font-size: 48pt;
}

#demo-container{
  width: 100%;
}

.demo{
  font-size: 32pt;
  margin: 10px;
  margin-left: 100px;
  margin-right: 100px;
  height: 750px;
  width: 500px;
  background-color: #2C2A1F;
  padding: 50px;
  border-radius: 35px;

}


#lower-section{
  position: relative;
  top:1650px
}

#bottom-img{
  width: 100%;
  height: auto;
  object-fit: cover;
}


#bottom-overlay{
  position: absolute;
  height: 100%;
  width: 50%;
  right: 0;
  /* border: 1px solid red; */
}

#bottom-overlay h1{
  color: #2C2A1F;
  font-size: 40pt;
}

#step-container{
  width: 100%;
  height: 70%;
  background-color: #2C2A1F;
  border-radius: 50px;
}

.step{
  width: 75%;
}

.step h2{
  color: var(--third-color);
  font-size: 48pt;
}

.step div{
  color: #2C2A1F;
  width: 62%;
  height: 50%;
  background-color: var(--third-color);
  padding: 25px;
  border-radius: 15px;
  box-shadow: 3px 3px rgba(0, 0, 0, 0.463);

  transition: background-color 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.step div:hover{
  cursor: pointer;
  background-color: #e9e4d3;
  transform: scale(1.05);
}


@media only screen and (max-width: 2200px){
  #left-block{
    height: 180vh;
    top:100vh;
  }

  #left-block h1{
    font-size: 32pt;
    margin-bottom: 74vh;
  }

  .icon-wrapper{
    width: 200px;
    height: 200px;
    margin-bottom: 10vh;
    font-size: 85pt;
  }

  .feature-card{
    scale: 85%;
  }

  .feature-card:nth-child(1){
    margin-top: 10px;
  }
}
