<div id="container">
  <app-top-nav id="topnav" [hideAccountDropdown]="true"></app-top-nav>
  <div id="main">
    <div id="top-img-wrapper" class="center">
      <img id="top-img" [src]="topImageUrl">

    </div>

    <div id="top-overlay">
      <div id="left-block">
        <h1>Launch Your Business Today with Shopimy</h1>
        <div class="icon-wrapper center"><i class="fa-solid fa-basket-shopping"></i></div>
        <div class="icon-wrapper center"><i class="fa-solid fa-people-group"></i></div>
        <div class="icon-wrapper center"><i class="fa-solid fa-cloud"></i></div>
        <div class="icon-wrapper center"><i class="fa-regular fa-rectangle-list"></i></div>
      </div>
      <div id="feature-card-container">
        <div class="feature-card center">
          <div class="fc-title">Streamlined Social Integration</div>
          <div class="fc-divider"></div>
          <div class="fc-body">Connect your store to major social networks,  and turn followers into customers!</div>
        </div>
        <div class="feature-card center">
          <div class="fc-title">Access Anywhere</div>
          <div class="fc-divider"></div>
          <div class="fc-body">Access your store anytime from anywhere- stay connected across all devices!</div>
        </div>
        <div class="feature-card center">
          <div class="fc-title">Effortless Product Control</div>
          <div class="fc-divider"></div>
          <div class="fc-body">Easily track, update and monitor your store with tools designed to save time and keep you in control!</div>
        </div>
      </div>
    </div>



    <div id="mid-section" class="center">
      <div id="tabs" class="center-col">
        <div class="tab center">Connect</div>
        <div class="tab center">Share</div>
        <div class="tab center">Sell</div>
      </div>
      <div id="mid-img-wrapper" class="center">
        <!-- <div id="img-overlay"></div> -->
        <img id="mid-img" [src]="midImageUrl">
      </div>

    </div>

    <div id="demos">
      <h1>DEMOS</h1>
      <div id="demo-container" class="center">
        <div class="demo">WHAT A STORE CAN LOOK LIKE </div>
        <div class="demo">STORE CREATION PAGE</div>
        <div class="demo">WHAT ANALYTIC DASHBOARD LOOKS LIKE</div>
      </div>
    </div>

    <div id="lower-section" class="center">
      <img id="bottom-img" [src]="bottomImageUrl">
      <div id="bottom-overlay" class="center-col">
        <h1>Getting Started</h1>
        <div id="step-container" class="center-col">
          <div class="step center-spaced">
            <h2>Step 1</h2>
            <div class="center">Create Your Account</div>
          </div>
          <div class="step center-spaced">
            <h2>Step 2</h2>
            <div class="center">Customize Your Store</div>
          </div>
          <div class="step center-spaced">
            <h2>Step 3</h2>
            <div class="center">List Your First Product</div>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>
<!-- <app-loading-one></app-loading-one> -->
