<div id="main">
    <div class="section">
        <div id="Total-info">
            <h3>Total Order(s)</h3>
            <table mat-table [dataSource]="orderData" class="product-table mat-elevation-z8" >
                <ng-container matColumnDef="totalSales">
                    <th mat-header-cell *matHeaderCellDef>Total Sales</th>
                    <td mat-cell *matCellDef="let element">{{element.totalSales}}</td>
                </ng-container>

                <ng-container matColumnDef="orders">
                    <th mat-header-cell *matHeaderCellDef>Orders</th>
                    <td mat-cell *matCellDef="let element">{{element.orders}}</td>
                </ng-container>

                <ng-container matColumnDef="customers">
                    <th mat-header-cell *matHeaderCellDef>Customers</th>
                    <td mat-cell *matCellDef="let element">{{element.customers}}</td>
                </ng-container>

                <ng-container matColumnDef="fulfilledOrders">
                    <th mat-header-cell *matHeaderCellDef>Fulfilled Orders</th>
                    <td mat-cell *matCellDef="let element">{{element.fulfilledOrders}}</td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="orderColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: orderColumns;"></tr>
            </table>
        </div>
    </div>

    <div class="section">
        <div id="Order-info">
            <h3>Order Details</h3>
            <div id="Order-list-wrapper">
                <table mat-table [dataSource]="productData" class="product-table mat-elevation-z8" >
                    
                    <ng-container matColumnDef="order">
                        <th mat-header-cell *matHeaderCellDef>Order:</th>
                        <td mat-cell *matCellDef="let element">{{element.order}}</td>
                    </ng-container>

                    <ng-container matColumnDef="customer">
                        <th mat-header-cell *matHeaderCellDef>Customer:</th>
                        <td mat-cell *matCellDef="let element">{{element.customer}}</td>
                    </ng-container>

                    <ng-container matColumnDef="total">
                        <th mat-header-cell *matHeaderCellDef>Total:</th>
                        <td mat-cell *matCellDef="let element">{{element.total}}</td>
                    </ng-container>

                    <ng-container matColumnDef="items">
                        <th mat-header-cell *matHeaderCellDef>Item(s):</th>
                        <td mat-cell *matCellDef="let element">{{element.items}}</td>
                    </ng-container>

                    <ng-container matColumnDef="payment">
                        <th mat-header-cell *matHeaderCellDef>Payment:</th>
                        <td mat-cell *matCellDef="let element">{{element.payment}}</td>
                    </ng-container>

                    <ng-container matColumnDef="fulfilled">
                        <th mat-header-cell *matHeaderCellDef>Fulfilled:</th>
                        <td mat-cell *matCellDef="let element">{{element.fulfilled}}</td>
                    </ng-container>

                    <tr mat-header-row *matHeaderRowDef="itemColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: itemColumns;"></tr>
                </table>
            </div>
        </div>
    </div>
</div>