
<div id="main">

    <div class="section">
        <div id="Total-info">
            <h3> Total Order(s)</h3>
            <table  id ="Total-list">
                <thead>
                    <tr>
                        <th>Total Sales</th>
                        <th>Orders</th>
                        <th>Customers</th>
                        <th>Fulfilled Orders</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>$1500</td>
                        <td>16</td>
                        <td>5</td>
                        <td>1</td>
                    </tr>
                </tbody>

            </table>
        </div>
    </div>

    <div class="section">
        

        <div id="Order-info">
            <h3>Order Details</h3>
            <div id = "Order-list-wrapper">
                <table id ="Order-list">
                    <thead>
                        <tr>
                            <th>Order:</th>
                            <th>Customer:</th>
                            <th>Total:</th>
                            <th>Item(s):</th>
                            <th>Payment:</th>
                            <th>Fulfilled:</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>123456</td>
                            <td>First Last</td>
                            <td>50</td>
                            <td>1</td>
                            <td>Paid</td>
                            <td>Fulfilled</td>
                        </tr>
                        <tr>
                            <td>123456</td>
                            <td>First Last</td>
                            <td>50</td>
                            <td>1</td>
                            <td>Paid</td>
                            <td>Fulfilled</td>
                        </tr>
                        <tr>
                            <td>123456</td>
                            <td>First Last</td>
                            <td>50</td>
                            <td>1</td>
                            <td>Paid</td>
                            <td>Fulfilled</td>
                        </tr>
                        <tr>
                            <td>123456</td>
                            <td>First Last</td>
                            <td>50</td>
                            <td>1</td>
                            <td>Paid</td>
                            <td>Fulfilled</td>
                        </tr>
                        <tr>
                            <td>123456</td>
                            <td>First Last</td>
                            <td>50</td>
                            <td>1</td>
                            <td>Paid</td>
                            <td>Fulfilled</td>
                        </tr>
                    </tbody>
                </table>
            </div>    
        </div>


    </div>
    
</div>

