<div id="order-summary" class="theme2" [style.background-color]="storeDetails?.theme_2">
  <h2>Order Summary</h2>
  
  <div class="summary-item-container">
    <!-- Subtotal -->
    <div class="summary-item center-spaced fc" [style.color]="storeDetails?.fontColor">
      <span>Subtotal</span>
      <span>${{subtotal.toFixed(2)}}</span>
    </div>
    
    <!-- Shipping estimate -->
    <div class="summary-item center-spaced fc" [style.color]="storeDetails?.fontColor">
      <span>Shipping Estimate</span>
      <ng-container *ngIf="subtotal > 30; else shippingcost">
        <span>FREE</span>
      </ng-container>
      <ng-template #shippingcost>
        <span>${{shippingCost.toFixed(2)}}</span>
      </ng-template>
    </div>
    
    <!-- Tax estimate -->
    <div class="summary-item center-spaced fc" [style.color]="storeDetails?.fontColor">
      <span>Taxes Estimate</span>
      <span>${{taxEstimate.toFixed(2)}}</span>
    </div>
    
    <!-- Total -->
    <div id="total" class="summary-item center-spaced fc" [style.color]="storeDetails?.fontColor">
      <span>Total Estimate</span>
      <span>${{totalEstimate.toFixed(2)}}</span>
    </div>
  </div>

  <!-- Checkout button -->
  <div class="checkout-opt center-col">
    <button 
      class="checkout-btn center theme1 standard-button"
      [style.background-color]="storeDetails?.theme_1"
      [style.color]="storeDetails?.fontColor"
      (click)="nextStep()">
      {{submitMessage}}
    </button>
  </div>
</div>
