#main{
    max-width: 100%;
    max-height: auto;
    padding: 25px;
    display: grid;
    align-content: center;
    column-gap: 25px;
    row-gap: 25px;
    font-family: var(--main-font-fam);
  }

.section{
    max-width: 100vw;
    padding: 25px;
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: var(--main-color);
    
    display: grid;
    align-content: center;
    column-gap: 20px;
    row-gap: 20px;
}
.section h2{
    font-size: 1.5rem;
    font-family: var(--main-font-fam);
    margin-bottom: 15px;
    text-align: left;
}

.section h3{
    font-size: 1.5rem;
    margin-bottom: 15px;
    text-align: left;
}

#title{
    max-width: 100%;
    max-height: auto;
    padding: 25px;
    display: grid;
    align-content: center;
    column-gap: 25px;
    row-gap: 25px;
}
.title h2{
    font-size: 2.5rem;
    color: var(--main-color);
    margin-bottom: 15px;
    text-align: left;
}

#analytic-info1{
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 1;
    grid-row-end: 1;
}

#analytic-info2{
    grid-column-start: 2;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 1;
}

#analytic-list-wrapper{
    align-self: center;
    min-height: 420px;
    max-height: 450px;
    width: 500px;
    padding: 25px;
    border-radius: 12px;
    background-color: var(--third-color);
}
#analytic-list{
    border-collapse: collapse;
    width: 100%;
}

#analytic-list th, #ph-list td {
    padding: 5px 10px;
    text-align: center;
    height: 20px;
    vertical-align: top;
  }
  
  #analytic-list th{
    font-size: 1.2rem;
    color: black;
    border-bottom: 2px solid black;
  }
  
  #analytic-list tr{
    height: 20px;
    border-bottom: 1px dashed black;
  }
  
  #analytic-list td{
    text-align: center;
    font-size: 1rem;
    color: black;
  }

.analytics-section{
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 25px;
    row-gap: 25px;
}

.analytics-img{
    width: 25vw;
    height: auto;
}

#analytic-graph1{
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 1;
    grid-row-end: 1;
}

#analytic-graph2{
    grid-column-start: 2;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 1;
}





