<div id="main">

    <div class ="title">
        <h2>Traffic Analytic</h2>
    </div>

    <div class="section">
        
        <div id="analytic-info2">
            <h3>Recent Purchase</h3>
            <div id = "analytic-list-wrapper">
                <table id ="analytic-list">
                    <thead>
                        <tr>
                            <th>Item</th>
                            <th>Amounts</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Product 1</td>
                            <td>5</td>
                        </tr>
                        <tr>
                            <td>Product 2</td>
                            <td>3</td>
                        </tr>
                        <tr>
                            <td>Product 3</td>
                            <td>2</td>
                        </tr>
                    </tbody>
                </table>
            </div>

        </div>
    
        <div id="analytic-graph1">
            <h3>Visists to Store</h3>
            <img class= "analytics-img" src="resources/images/tempGraph.jpg">
        </div>
    </div>

    <div class="section">
        
        <div id="analytic-info1">
            <h3>Popular Items</h3>
            <div id = "analytic-list-wrapper">
                <table id ="analytic-list">
                    <thead>
                        <tr>
                            <th>Item</th>
                            <th>Amounts</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Product 1</td>
                            <td>5</td>
                        </tr>
                        <tr>
                            <td>Product 2</td>
                            <td>3</td>
                        </tr>
                        <tr>
                            <td>Product 3</td>
                            <td>2</td>
                        </tr>
                    </tbody>
                </table>
            </div>

        </div>
    
        <div id="analytic-graph2">
            <h3>Anual Sales</h3>
            <img class= "analytics-img" src="resources/images/tempGraph.jpg">
        </div>
    </div>

    <div class="section">
        
        <div id="analytic-graph1">
            <h3>Daily Sales</h3>
            <img class= "analytics-img" src="resources/images/tempGraph.jpg">
        </div>
    
        <div id="analytic-graph2">
            <h3>Monthly Sales</h3>
            <img class= "analytics-img" src="resources/images/tempGraph.jpg">
        </div>
    </div>


    
</div>

