
<div id="main">
    <div class="section">
        <div id="Product-info">
            <h3>Inventory</h3>
            <div id = "Product-list-wrapper">
                <table id ="Product-list">
                    <thead>
                        <tr>
                            <th>Item</th>
                            <th>Available</th>
                            <th>On Order:</th>
                            <th>Catagory</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Product 1</td>
                            <td>50</td>
                            <td>5</td>
                            <td>Digital</td>
                        </tr>
                        <tr>
                            <td>Product 2</td>
                            <td>56</td>
                            <td>7</td>
                            <td>Digital</td>
                        </tr>
                        <tr>
                            <td>Product 3</td>
                            <td>41</td>
                            <td>11</td>
                            <td>Digital</td>
                        </tr>
                        <tr>
                            <td>Product 4</td>
                            <td>32</td>
                            <td>5</td>
                            <td>Knit Kit</td>
                        </tr>
                        <tr>
                            <td>Product 5</td>
                            <td>21</td>
                            <td>5</td>
                            <td>Clothing</td>
                        </tr>
                    </tbody>
                </table>
            </div>    
        </div>
        <button>Restock</button>

        <div id="Product-info">
            <h3>Catagories</h3>
            <div id = "Product-list-wrapper">
                <table id ="Product-list">
                    <thead>
                        <tr>
                            <th>Catagory</th>
                            <th>Total Items</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Digital</td>
                            <td>3</td>
                        </tr>
                        <tr>
                            <td>Knit Kit</td>
                            <td>12</td>
                        </tr>
                        <tr>
                            <td>Physical Sweater</td>
                            <td>6</td>
                        </tr>
                        <tr>
                            <td>Acessories</td>
                            <td>7</td>
                        </tr>

                    </tbody>
                </table>
            </div>    
        </div>
        <button>Add New Catagory</button>


    </div>
    
</div>

