#main{
  display: flex;
  bottom: 0;
  left:0;

  height: 10vh;
  width: 100vw;
  background-color: var(--main-color);
  padding: 10px;
  align-items: center;


}

#footer-logo{
  font-size: 3rem;
  margin-right: 30%;
  margin-left: 2.5%;
  color: var(--second-color);
  font-family: var(--main-font-fam);
}


#footer-links{

  /* position: relative; */
  margin-right: 20px;
  width: 80%;
  font-family: var(--main-font-fam);
}

.foot-link{
  margin-top: 50px;
  margin-left: 50px;
  margin-right: 50px;
  font-size: 24pt;
  transition: color 0.2s ease-in-out;
}

.foot-link:hover{
  cursor: pointer;
  color: var(--second-color);
}

@media only screen and (max-width: 715px){

  #footer-logo{
   display: none;
  }

  #footer-links{
    right: 50%;
    width: 95%;
    margin-right: 0px;
  }

  .foot-link{
    margin-top: 50px;
    margin-left: 0px;
    margin-right: 0px;
    width: 20%;
    font-size: 12pt;
    text-align: center;
    transition: color 0.2s ease-in-out;
  }

}


