<div id="reviews">
    <div id="reviewLeft">
        <p id ="reviewLeftHeader">Ratings and Reviews</p>
        <div id="bigStarDiv"> 
            <img id="bigStar" src="Star 10.png" width="20px" height="20px">
            <img id="bigStar" src="Star 10.png" width="20px" height="20px">
            <img id="bigStar" src="Star 10.png" width="20px" height="20px">
            <img id="bigStar" src="Star 10.png" width="20px" height="20px">
            <img id="bigStar" src="Star 10.png" width="20px" height="20px">
        </div>
        <p id="reviewCount">5 reviews</p>
    </div>
    <div id="reviewRight">

        <p id = "reviewText">Super easy and well structured</p>
        <div id="stars">
            <img id="star" src="Star 10.png" width="20px" height="20px">
            <img id="star" src="Star 10.png" width="20px" height="20px">
            <img id="star" src="Star 10.png" width="20px" height="20px">
            <img id="star" src="Star 10.png" width="20px" height="20px">
            <img id="star" src="Star 10.png" width="20px" height="20px">
        </div>
        <div id="dateDiv">
            <p id="date">Jan 16, 2025</p>
        </div>
        <div id="reviewDivider"></div>

        <p id = "reviewText">I like shirts!</p>
        <div id="stars">
            <img id="star" src="Star 10.png" width="20px" height="20px">
           
            <img id="star" src="Star 10.png" width="20px" height="20px">
        </div>
        <div id="dateDiv">
            <p id="date">feb 16, 2025</p>
        </div>
        <div id="reviewDivider"></div>
        
    </div>
</div>
